@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --text: #ffff;
    --purple: #9053e0;
    --purple-hover: #6D24cf;
    --black: #000;
    --before-btn: #9053e0;
    --after-btn: #000
}

html,
body {
    scroll-behavior: smooth
}

.hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease-out
}

.show {
    opacity: 1;
    transform: translateY(0)
}

img {
    width: 100%;
    display: flex
}

h2 {
    color: #fff
}

a {
    color: black;
    text-decoration: none
}

.header {
    background: url(src/assets/img/bg.webp);
    /* background: url(https://i.ibb.co/Q9c6WcY/bg.jpg); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.extend_header {
    background-color: black;
}

nav {
    position: static;
    isolation: isolate;
    width: 100%;
    max-width: 1200px;
    padding: 2rem 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.navbar h1 {
    color: #fff;
    font-size: 3em
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.mobile-login {
    display: none;
}

/* Chỉ hiển thị nút đăng nhập khi màn hình lớn */
.desktop-login {
    display: inline-block;
}

.logo {
    max-width: 200px
}

.menu_btn {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text);
    display: none
}

.links {
    list-style: none;
    position: static;
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: .5s;
    z-index: -1
}

.links a {
    position: relative;
    isolation: isolate;
    padding-bottom: 8px;
    color: var(--text);
    transition: .3s
}

.links a::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background: var(--purple);
    left: 0;
    bottom: 0;
    transition: .3s;
    transform-origin: left
}

.links h1 {
    position: relative;
    isolation: isolate;
    padding-bottom: 8px;
    color: var(--text);
    transition: .3s
}

.links h1::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background: var(--purple);
    left: 0;
    bottom: 0;
    transition: .3s;
    transform-origin: left
}

.btn {
    border-radius: 5px;
    cursor: pointer;
    padding: .75rem 1.5rem;
    background: var(--before-btn);
    color: var(--text);
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    position: relative;
    transition: color .25s 1s
}

.btn a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}

.section {
    max-width: 1200px;
    margin: auto;
    padding: 3.5rem 1rem
}

.header_section {
    padding-block: 10rem 15rem
}

.header_section p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    opacity: .6
}

.header_section h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: #fff;
    text-align: center
}

.header_section h1 span {
    color: var(--purple)
}

.booking_section {
    padding-block: 0
}

.booking_form {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background: var(--text);
    border-radius: 10px;
    transform: translateY(-50%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)
}

.input_box {
    flex: 1 1 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.input_with_icon {
    position: relative;
    width: 100%;
    max-width: 300px
}

.input_with_icon i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.75rem;
    color: var(--black)
}

.input_with_icon input {
    display: block;
    width: 100%;
    padding-left: 40px;
    color: #0c0a09;
    font-size: .9rem;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px
}

.about_section {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center
}

.about_img img {
    width: 500px;
    height: 750px;
    margin: auto;
    border-radius: 5px
}

.title {
    position: relative;
    margin-bottom: .5rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #0c0a09
}

.title::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 4rem;
    background: var(--before-btn);
    top: 50%;
    transform: translate(1rem, -50%)
}

.tagline {
    max-width: 600px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: #0c0a09
}

.desc {
    max-width: 600px;
    margin-bottom: 1rem;
    color: #000
}

.deal_wrapper {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem
}

.deal_card {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)
}

.card_img {
    position: relative;
    isolation: isolate
}

.card_img img {
    width: 750px;
    height: 500px;
}

.explore_card img {
    width: 500px;
    height: 750px;
}

.card_icons {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 1;
}

.card_icons span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}

.card_details {
    color: var(--black);
    padding: 1rem
}

.card_details h4 {
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--black)
}

.card_details p {
    margin-bottom: .5rem
}

.card_details span {
    font-weight: 700
}

.card_details h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #78716c
}

.card_details h5 span {
    font-size: 1.1rem;
    color: #0c0a09
}

.popular {
    height: 500px;
    background: url(src/assets/img/cine.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.popular_section {
    padding-block: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.popular_content {
    grid-column: 2/3;
    padding: 2rem 4rem;
    background: #fff
}

.popular_list {
    list-style: none;
    margin-top: 2rem;
    display: grid;
    gap: 2rem
}

.popular_list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #0c0a09
}

.popular_list span {
    padding: 10px 14px;
    font-size: 1.75rem;
    color: #fff;
    background: var(--black);
    border-radius: 100%
}

.banner_content {
    background: var(--text);
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2)
}

.banner_card {
    text-align: center;
    flex: 1 1 180px
}

.banner_card h4 {
    font-size: 2rem;
    font-weight: 600;
    color: #0c0a09
}

.banner_card p {
    color: #78716c
}

.explore_section :is(.title, .tagline) {
    text-align: center;
    margin-inline: auto
}

.explore_wrapper {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem
}

.explore_card {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)
}

.card_title {
    position: absolute;
    left: 0;
    bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding-left: 1rem;
    z-index: 1;
}

.footer {
    background: #000
}

.footer h1 {
    color: white;
}

.footer_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 2rem
}

.footer_col .desc {
    margin-block: 2rem
}

.footer_col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff
}

.footer_links {
    list-style: none;
    display: grid;
    gap: 1rem
}

.footer_links a {
    color: var(--text);
    transition: .3s
}

.socials {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap
}

.socials a {
    color: var(--black);
    width: 40px;
    height: 40px;
    background: var(--text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    opacity: .8;
    transition: .3s
}

.copyright {
    padding: 1rem;
    font-size: .9rem;
    color: #000;
    text-align: center
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--before-btn);
    color: #fff;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility .5s ease;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.scroll-to-top span {
    font-size: 18px
}

.scroll-to-top.show {
    z-index: 1;
    opacity: 1;
    visibility: visible
}

.one h1 {
    color: var(--text);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.movie-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--black);
}

.movie-content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.movie-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
}

.movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
}

.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
}

.movie-image-container {
    overflow: hidden;
}

.movie-image-wrapper {
    height: 11rem;
    position: relative;
    overflow: hidden;
}

.movie-image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movie-card-content {
    min-height: 139px;
    background-color: white;
    padding: 1rem;
}

.movie-card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.movie-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-card-description {
    font-size: 0.875rem;
    color: #718096;
}

.notification-icon {
    color: #ff6b6b;
    transition: color 0.3s ease;
}

.movie-rating {
    font-size: 0.875rem;
    color: #718096;
    margin-top: 0.5rem;
}

.movie-details {
    font-size: 0.75rem;
    color: #4a5568;
    margin-top: 0.5rem;
}

.booking-background {
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.booking-content {
    color: var(--text);
    position: relative;
    padding: 20px;
}

.booking-container {
    display: flex;
    gap: 20px;
}

.booking-movie-poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.booking-movie-poster img {
    width: 300px;
    border-radius: 10px;
}

.booking-movie-poster .btn {
    position: absolute;
    border-radius: 5px;
    bottom: 15px;
}

.booking-movie-info {
    width: 650px;
}

.booking-movie-info h1 {
    color: white;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: calc(1em / 8);
    padding: calc(--stroke-width / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    margin-bottom: 10px;
}

.booking-movie-meta {
    display: flex;
    gap: 10px;
    color: #ff6a00;
    font-weight: bold;
}

.booking-movie-meta span {
    background-color: white;
    padding: 3.5px;
    border-radius: 5px;
    font-size: 14px;
}

.booking-rating {
    color: #f39c12;
}

.booking-movie-details {
    margin-top: 15px;
}

.booking-movie-details p {
    padding: 10px;
}

.booking-movie-details span {
    cursor: pointer;
    display: inline-block;
    padding: 3.5px;
    background-color: var(--purple);
    border-radius: 5px;
}

.booking-movie-description {
    padding: 10px;
    background-color: none;
    width: 100%;
    margin-top: 30px;
}

.booking-movie-description h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.schedule-container {
    padding-top: 20px;
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--purple);
    padding-bottom: 10px;
}

.booking-movie-description h2 {
    padding-bottom: 10px;
    font-size: 26px;
    margin: 0;
}

.date-selector {
    border: none;
    display: flex;
    gap: 10px;
}

.date-selector button {
    background-color: var(--purple);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.date-selector button.inactive {
    background-color: white;
    color: black;
}

.filter-options {
    display: flex;
    gap: 10px;
}

.filter-options select {
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.theater-section {
    padding: 20px 0;
}

.theater-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-format {
    color: white;
    margin-bottom: 10px;
}

.time-buttons {
    display: flex;
    gap: 10px;
}

.time-buttons button {
    background-color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.movie_seat-center {
    padding-top: 50px;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.movie_seat-tickets {
    width: 850px;
    height: fit-content;
    border: 0.4mm solid rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    max-height: 96vh;
    overflow: auto;
    background: white;
}

.movie_seat-selector {
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}


.movie_seat-seats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    position: relative;
}

.movie_seat-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.movie_seat-seats::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 220px;
    height: 7px;
    background: rgb(141, 198, 255);
    border-radius: 0 0 3mm 3mm;
    border-top: 0.3mm solid rgb(180, 180, 180);
}

.movie_seat-item {
    font-size: 14px;
    position: relative;
}

.movie_seat-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    outline: 0.2mm solid rgb(120, 120, 120);
    border-radius: 2px;
}

.movie_seat-item:nth-child(2)::before {
    background: rgb(180, 180, 180);
    outline: none;
}

.movie_seat-item:nth-child(3)::before {
    background: var(--purple);
    outline: none;
}

.movie_seat-item:nth-child(4)::before {
    background: rgb(141, 198, 255);
    outline: none;
}

.movie_seat-all-seats {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 15px;
    margin: 60px 0;
    margin-top: 40px;
    position: relative;
}

.movie_seat-seat {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 2mm;
    outline: 0.3mm solid rgb(180, 180, 180);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie_seat-all-seats input:checked+label {
    background: var(--purple);
    outline: none;
}

.movie_seat-seat.booked {
    background: gray;
    outline: none;
}

.movie_seat-all-seats input {
    display: none;
}

.movie_seat-timings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.movie_seat-price {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie_seat-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.movie_seat-total span {
    font-size: 11px;
    font-weight: 400;
}